<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>Skredstatistikk fra NVDB</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>


<div class="container-fluid">
    <div class="row">
        <div class="col">
        <h1>NVDB skreddata</h1>
        </div>
    </div>
  <div class="row">
    <div class="col">
      Tast inn vegreferanse for strekningen
        <br>
        <form method=post action="">
			<table>
			  {% for field in form %}
				<tr>
				<td class="name"></td><td>{{ field(size=12) }}</td>
				<td>{{ field.label }}</td>
				{% if field.errors %}
				  <td><ul class=errors>
				  {% for error in field.errors %}
					<li><font color="red">{{ error }}</font></li>
				  {% endfor %}</ul></td>
				{% endif %}
				</tr>
			  {% endfor %}
			</table>
			<p><input type=submit value=Vis></form></p>
        <br>
        Data henta frå Statens Vegvesen Nasjonal Vegdatabank (NVDB)
        <br>
        <br>
        {% if viseside == True %}

		    {{ plot_div_skredtype|indent(4)|safe }}
            {{ plot_script_skredtype|indent(4)|safe }}
		{% endif %}

    </div>
    <div class="col-8">


            {{ js_resources|indent(4)|safe }}
            {{ css_resources|indent(4)|safe }}


        {% if viseside == True %}

		    {{ plot_div_oversikt|indent(4)|safe }}
            {{ plot_script_oversikt|indent(4)|safe }}
		{% endif %}
    </div>
        <div class="col-8">


    </div>
  </div>
</div>

   <!-- Bootstrap core JavaScript
    ================================================== -->

  </body>
</html>
