<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    <title>NVDB skreddata</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="statuc/css/grid.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <h1>NVDB Skreddata</h1>
      <p class="lead">Nettside for å raskt hente ut skredstatistikk for vegstrekninger</p>
      <p>Nettsida er utvikla som eit læringsprosjekt, det kan vere feil og manglar som gjer at data som visast ikkje er korrekt. Alle data er henta fra <a href="https://www.vegvesen.no/nvdb/apidokumentasjon/">Statens vegvesen sitt API</a> for uthenting av data frå norsk vegdatabank </p>
      

      <hr>

      <p class="text-warning">Tast inn vegreferanse, alle felt må ha verdi.</p>
      <form method=post action="">
			<table>
			  {% for field in form %}
				<tr>
				<td class="name"></td><td>{{ field(size=12) }}</td>
				<td>{{ field.label }}</td>
				{% if field.errors %}
				  <td><ul class=errors>
				  {% for error in field.errors %}
					<li><font color="red">{{ error }}</font></li>
				  {% endfor %}</ul></td>
				{% endif %}
				</tr>
			  {% endfor %}
			</table>
		<p><input type=submit value=Vis></form></p>

      <hr>
      {% if viseside == True %}
		    {{ div_skredtype|indent(4)|safe }}
           {{ script_skredtype|indent(4)|safe }}
           <hr>
   		    {{ div_maaned|indent(4)|safe }}
           {{ script_maaned|indent(4)|safe }}
           <hr>
  		    {{ div_aar|indent(4)|safe }}
           {{ script_aar|indent(4)|safe }}
           <hr>
     		 {{ div_losneområde|indent(4)|safe }}
           {{ script_losneområde|indent(4)|safe }}
           <hr>
     		 {{ div_steinmaaned|indent(4)|safe }}
           {{ script_steinmaaned|indent(4)|safe }}
           <hr>
           {{ div_steinlosneområde|indent(4)|safe }}
           {{ script_steinlosneområde|indent(4)|safe }}
           <hr>
           {{ div_snomaaned|indent(4)|safe }}
           {{ script_snomaaned|indent(4)|safe }}
           <hr>
           {{ div_volumomraade|indent(4)|safe }}
           {{ script_volumomraade|indent(4)|safe }}
           
	  {% endif %}


    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>